/*
  ======================================
  Custom Styles
  ======================================
*/

h1 {
  font-size: 2rem;
}

img {
  border: 3px solid #99ccff;
  border-radius: 50%;
}

.navbar-end {
  padding-right: 5px;
}

.input-field {
  display: flex;
  justify-content: center;
}
