html,
body {
  height: 100%;
}

/*
  ======================================
  Custom Styles
  ======================================
*/
.site {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.navbar-brand > h1 {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
}

.input-field {
  display: flex;
  justify-content: center;
}

/*
  ======================================
  Images
  ======================================
*/

img {
  border: 3px solid #99ccff;
  border-radius: 30%;
}

/*
  ======================================
  Result Links
  ======================================
*/

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #99ccff;
}

/*
  ======================================
  Result Recipes
  ======================================
*/

.search-error {
  font-size: 22px;
  color: red;
}

.columns:last-child {
  margin-bottom: 15px;
}

.image {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.image:hover {
  opacity: 0.5;
}

/*
  ======================================
  Result Recipes
  ======================================
*/

.footer {
  background: none;

  height: 10px;
}
